@{
    ViewBag.Title = "Login";

}
@model TestLibrary.ViewModels.LoginForm

    <form class="account-form" action="/Authenticate/Login" method="post">
        @Html.AntiForgeryToken()
        @if (TempData["Notification"] != null)
        {
            @Html.ValidationMessageFor(model => model, validationMessage: TempData["Notification"].ToString(), tag: "p", htmlAttributes: new { @class = "noti-msg" })
        }
        <fieldset>
            <legend>Login</legend>
            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.UserName)
            @Html.PasswordFor(model => model.Password, new { @placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password)
            <input type="Submit" value="Login" /><br />
            @Html.CheckBox("Remember")Remember me<br />
            <center><a class="btt-inline" href="/Authenticate/ForgotPassword">Forgot pwd?</a><a class="btt-inline" href="/Authenticate/Register">Register</a></center>
            </fieldset>
    </form>
