@{
    ViewBag.Title = "Reset password";
}

<h2>Reset password for @TempData["UserName"]</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<form class="news-form" action="/Authenticate/ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <label>Please enter new password and comfirm then submit.</label><br />
    <input type="hidden" name="UserName" value="@TempData["UserName"]" />
    <input type="hidden" name="oldPassword" value="@TempData["Token"]">
    <input type="password" name="newPassword" placeholder="New password" /><br />
    <input type="password" name="confirmPassword" placeholder="Confirm password" /><br />
    <input type="submit" value="submit" />
</form>
