@{
    ViewBag.Title = "Reset password";
}
@model TestLibrary.ViewModels.PasswordChanger
<h2>Reset password for @TempData["UserName"]</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<form class="news-form" action="/Authenticate/ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <label>Please enter new password and comfirm then submit.</label><br />
    <input type="hidden" name="UserName" value="@TempData["UserName"]" />
    <input type="hidden" name="oldPassword" value="@TempData["Token"]">
    @Html.PasswordFor(model => model.newPassword, new { @placeholder = "New password" })
    @Html.ValidationMessageFor(model => model.newPassword)<br />
    @Html.PasswordFor(model => model.confirmPassword, new { @placeholder = "Confirm password" })
    @Html.ValidationMessageFor(model => model.confirmPassword)<br />
    <input type="submit" value="Submit" />
</form>
