@{
    ViewBag.Title = "Reset password";
}
@model TestLibrary.ViewModels.PasswordChanger
<h2>Reset password for @TempData["UserName"]</h2>
<form class="news-form" action="/Authenticate/ResetPassword" method="post">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorNoti"] != null)
    {
        <div class="noti-red">
            <img class="close-btt" src="~/Content/close-btt.png" />
            @TempData["ErrorNoti"]
        </div>
    }
    <label>Please enter new password and comfirm then submit.</label><br />
    <input type="hidden" name="UserName" value="@TempData["UserName"]" />
    <input type="hidden" name="oldPassword" value="@TempData["Token"]">
    @Html.PasswordFor(model => model.newPassword, new { @placeholder = "New password" })
    @Html.ValidationMessageFor(model => model.newPassword)<br />
    @Html.PasswordFor(model => model.confirmPassword, new { @placeholder = "Confirm password" })
    @Html.ValidationMessageFor(model => model.confirmPassword)<br />
    <input type="submit" value="Submit" />
</form>
