@{
    ViewBag.Title = "Top 10";
    int Count = 0;
}
@model TestLibrary.ViewModels.TopTenViewer
<h2>Top 10 Borrower</h2>
@if (Model.getTopMember().Count == 0)
{
    <p class="noti-msg">No top borrower to listed now.</p>
}
else
{
    <table class="top10">
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Count</th>
        </tr>
        
            @foreach(var item in Model.getTopMember())
            {
                <tr>
                    
                    @if (Count == 0)
                    {
                        <th class="first">@(++Count)</th>
                    }
                    else if(Count == 1){
                         <th class="second">@(++Count)</th>
                    }
                    else if (Count == 2)
                    {
                        <th class="third">@(++Count)</th>
                    }
                    else
                    {
                        <th class="norm">@(++Count)</th>
                    }
                 <td>
                  @item.UserName
                 </td>
                 <td>
                  @item.GetRelatedBorrowEntry().Count
                  </td>
                  </tr>
            }
    </table>
}

@{
    Count = 0;
}
<h2>Top borrow book</h2>
@if (Model.getTopBook().Count == 0)
{
    <p class="noti-msg">No top borrow book to listed now.</p>
}
else
{
    <table class="top10">
        <tr>
            <th>Rank</th>
            <th>BookName</th>
            <th>Count</th>
        </tr>
        @foreach (var item in Model.getTopBook())
        {
            <tr>
                @if (Count == 0)
                {
                    <th class="first">
                        @(++Count)
                    </th>
                }
                else if (Count == 1)
                {
                    <th class="second">
                        @(++Count)
                    </th>
                }
                else if (Count == 2)
                {
                    <th class="third">
                        @(++Count)
                    </th>
                }
                else
                {
                    <th>@(++Count)</th>
                }
                <td>@item.BookName</td>
                <td>@item.GetRelatedBorrowEntry().Count</td>
            </tr>
        }
    </table>
}
