@{
    ViewBag.Title = "Search";
}
@model List<TestLibrary.Models.Book>
<h1>Search</h1>
<h2>Basic search</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<form class="book-search" action="/BookSearch/Basic" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
    <label>Keyword</label><input type="text" placeholder="Keyword" name="Keyword" value="@ViewBag.Keyword"/><br />
    <label>Search by</label><select size="1" name="SearchType">
    <option value="" selected="@((ViewBag.SearchType=="")?"selected":null)">Select...</option>
    <option value="BookName" selected="@((ViewBag.SearchType=="BookName")?"selected":null)">Book name</option>
    <option value="Author" selected="@((ViewBag.SearchType=="Author")?"selected":null)">Author</option>
    <option value="Publisher" selected="@((ViewBag.SearchType=="Publisher")?"selected":null)">Publisher</option>
    <option value="Year" selected="@((ViewBag.SearchType=="Year")?"selected":null)">Year</option>
</select><br />
    <input type="submit" value="Search" /></fieldset>
</form>
@if (Model != null && TempData["AdvanceSearch"]!="Advance")
{
    if (Model.Count > 0)
    {
    <table class="list">
        <tr>
          <th>Book name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.Author</td>
                <td>@item.Publisher</td>
                <td>@item.BookStatus</td>
            </tr>
        }
    </table>
    }
}
    <h2>Advance search</h2>
    <form class="book-search" action="/BookSearch/Advance" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <label>Book name</label><input type="text" placeholder="Book name" name="BookName" value="@TempData["BookName"]" /><br />
        <label>Author</label><input type="text" placeholder="Author" name="Author" value="@TempData["Author"]" /><br />
        <label>Publisher</label><input type="text" placeholder="Publisher" name="Publisher" value="@TempData["Publisher"]" /><br />
        <label>Year</label><input type="text" placeholder="Year" name="Year" value="@TempData["Year"]" /><br />
        <input type="submit" value="Search" />
    </fieldset>
</form>

@if (Model != null && TempData["AdvanceSearch"] == "Advance")
{
    if (Model.Count > 0)
    {
        <table class="list">
            <tr>
                <th>Book name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Status</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookName</td>
                    <td>@item.Author</td>
                    <td>@item.Publisher</td>
                    <td>@item.BookStatus</td>
                </tr>
            }
        </table>
    }
}
