@{
    ViewBag.Title = "Search result";
}
@model  TestLibrary.ViewModels.PageList<TestLibrary.Models.Book>
<h2>Search result:@ViewBag.keyword</h2>
@if (Model == null)
{
    <p class="noti-msg">No book with keyword found.</p>
}
else { 
<table class="res-list">
    <tr>
        <th>ID</th>
        <th>BookName</th>
        <th>Author</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var book in Model.GetList())
    {
        <tr>
            <th>@book.BookID</th>
            <td class="res-col">@book.BookName</td>
            <td class="res-col">@book.Author</td>
            <td>@book.BookStatus</td>
            <td class="center-col"><a href="/Book/View/@book.BookID"><img class="view-btt" src="/Content/view-gray-btt.png" /></a></td>
        </tr>
    }
    <caption><b>Page @Model.GetCurrentPage() of @Model.GetPageSize()</b></caption>
</table>
    <form class="page-portal" action="/BookSearch/QuickSearch/" method="post">
        @Html.AntiForgeryToken()
    <label>Jump to page:</label>
    <select class="autosubmit" name="page" size="1">
        @for (int j = 1; j <= Model.GetPageSize(); j++)
        {
            <option value="@j" selected="@((int.Parse(TempData["page"].ToString()) == j)? "selected":null)">@j</option>
        }
    </select>
    <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
    <input type="hidden" value="@TempData["quicksearchkey"]" name="bookName" />
</form>

    <form class="page-portal" action="/BookSearch/QuickSearch/" method="post">
        @Html.AntiForgeryToken()
        <label>List per page:</label>
        <select class="autosubmit" name="pageSize" size="1">
            <option value="10" selected="@((int.Parse(TempData["pageSize"].ToString()) == 10)? "selected":null)">10</option>
            <option value="20" selected="@((int.Parse(TempData["pageSize"].ToString()) == 20) ? "selected" : null)">20</option>
            <option value="50" selected="@((int.Parse(TempData["pageSize"].ToString()) == 50) ? "selected" : null)">50</option>
            <option value="100" selected="@((int.Parse(TempData["pageSize"].ToString()) == 100) ? "selected" : null)">100</option>
        </select>
        <input type="hidden" value="@TempData["quicksearchkey"]" name="bookName" />
    </form>
}