@{
    ViewBag.Title = "Edit book";
}
@model TestLibrary.Models.Book
<form class="account-form" action="/BookManager/EditBook/" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Edit book</legend>
        @Html.HiddenFor(model => model.BookID)
        <label>Book Status:</label>
        @if (Model.BookStatus.ToString() != "Borrowed" && Model.BookStatus.ToString() != "Reserved") { 
        <select name="BookStatus">
            <option value="">Select...</option>
            <option value="0" selected="@((Model.BookStatus.ToString()=="Available")?"selected":null)">Available</option>
            <option value="3" selected="@((Model.BookStatus.ToString() == "Lost") ? "selected" : null)">Lost</option>
        </select>
        }
        else
        {
            @Model.BookStatus.ToString()
            <input type="hidden" name="BookStatus" value="@(Model.BookStatus.ToString()=="Borrowed"?1:2)"/>
        }
        <input type="text" placeholder="Book name" name="BookName" value="@Model.BookName" /><br />
        <input type="text" placeholder="Author" name="Author" value="@Model.Author" /><br />
        <input type="text" placeholder="Publisher" name="Publisher" value="@Model.Publisher" /><br />
        <input type="text" placeholder="Year" name="Year" value="@Model.Year" /><br />
        <textarea placeholder="Detail" name="Detail">@Model.Detail</textarea><br />
        <input type="submit" value="Edit book" />
    </fieldset>
</form>
