@{
    ViewBag.Title = "ViewBook";
}
@model TestLibrary.Models.Book

<h2>Book name</h2>
<p class="real-paragraph">@Html.DisplayFor(model => model.BookName)</p>
<h2>Author</h2>
<p class="real-paragraph">@Html.DisplayFor(model => model.Author)</p>
<h2>Publisher</h2>
<p class="real-paragraph">@Html.DisplayFor(model => model.Publisher)</p>
<h2>Year</h2>
<p class="real-paragraph">@Html.DisplayFor(model => model.Year)</p>
<h2>Detail</h2>
<p class="real-paragraph">@Html.DisplayFor(model => model.Detail)</p>
