@{
    ViewBag.Title = "Member Index";
}
@model TestLibrary.ViewModels.MemberTransactionViewer
<h1>Welcome! @Session["LoginUser"].ToString().Substring(2)</h1>
<p class="noti-msg">@TempData["Notification"]</p>
<h2>Book that you borrowed</h2>
@if (Model.GetBorrowEntryViews().Count != 0) { 
<table class="list">
    <tr>
        <th>Book name</th>
        <th>Borrow date</th>
        <th>Due date</th>
        <th>Renew count</th>
        <th></th>
    </tr>
    @foreach (var record in Model.GetBorrowEntryViews())
    {
        <tr>
            <td>@record.BorrowBook.BookName</td>
            <td>@record.BorrowDate.ToShortDateString()</td>
            <td>@record.DueDate.ToShortDateString()</td>
            <td>@record.RenewCount</td>
            @if (@record.RenewCount == 3) { 
            <td></td>
            }
            else
            {
                <td><a class="operation-link" href="/MemberTransaction/Renew/@record.ID">Renew</a></td>
            }
            
        </tr>
    }
</table>
}
else{
    <p class="noti-msg">No book that you borrowed now.</p>
}

<h2>Book that you requested</h2>
@if (Model.GetRequestEntryViews().Count != 0)
{
    <table class="list">
        <tr>
            <th>Book name</th>
            <th>Request Date</th>
            <th>Expire Date</th>
            <th></th>
        </tr>
        @foreach (var record in Model.GetRequestEntryViews())
        {
            <tr>
            <td>
                @record.RequestBook.BookName
            </td>
            <td>
                @record.RequestDate.ToShortDateString()
            </td>
            <td>
                @if (record.ExpireDate != null) { 
                @record.ExpireDate.Value.ToShortDateString()
                }
                else
                {
                    @Html.DisplayFor(target => target.GetRequestEntryViews().Single(rec => rec == record).ExpireDate)
                }
            </td>
                <td>
                    <a class="operation-link" href="/MemberTransaction/CancelRequest/@record.ID">Cancel</a>
                        </td>
                </tr>
        }
    </table>
}
else{
    <p class="noti-msg">No book that you requested now.</p>
}

<a class="account-btt" href="/MemberTransaction/Request">Request Book</a>