@{
    ViewBag.Title = "AddAdmin";
}
@model TestLibrary.Models.Admin
<form class="account-form" action="/AdminListManager/AddAdmin" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @TempData["Notification"]
    <fieldset>
        <legend>Add new admin</legend>
        <input type="text" placeholder="UserName" name="UserName" value="@Html.DisplayFor(model => model.UserName)" />
        <input type="text" placeholder="Name" name="Name" value="@Html.DisplayFor(model => model.Name)" />
        <input type="text" placeholder="E-mail" name="Email" value="@Html.DisplayTextFor(model => model.Email)" />
        <input type="password" placeholder="Password" name="Password"/>
        <input type="submit" value="Add admin"/>
    </fieldset>
</form>
