@{
    
    ViewBag.Title = "Change password";
}
@model TestLibrary.ViewModels.PasswordChanger
<p class="noti-msg">@TempData["Notification"]</p>

<form class="account-form" action="/Account/ChangePassword" method="post">
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Change Password</legend>
        @Html.PasswordFor(model => model.oldPassword, new { @placeholder = "Old password" })
        @Html.ValidationMessageFor(model => model.oldPassword)
        @Html.PasswordFor(model => model.newPassword, new { @placeholder = "New password" })
        @Html.ValidationMessageFor(model => model.newPassword)
        @Html.PasswordFor(model => model.confirmPassword, new { @placeholder = "Confirm password" })
        @Html.ValidationMessageFor(model => model.confirmPassword)
        <input type="submit" value="Change Password" />
    </fieldset>
</form>
