@model TestLibrary.Models.Admin

@{
    ViewBag.Title = "Edit";
}


    <form class="account-form" action="/Account/Edit" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <legend>Edit account</legend>

            Username:<input type="text" disabled="disabled" name="usrname" value="@Html.DisplayFor(model => model.UserName)" /><br />
            Name:<input type="text" name="Name" value="@Html.DisplayFor(model => model.Name)" /><br />
            Email:<input type="text" name="Email" value="@Html.DisplayFor(model => model.Email)"><br />
            @Html.HiddenFor(model => model.password)
            @Html.HiddenFor(model => model.UserName)
            <input type="submit" value="Update Account" />
        </fieldset>
    </form>

