@{
    ViewBag.Title = "Edit account";
}
@model TestLibrary.ViewModels.AccountEditor
<h2>Edit Account for @Session["LoginUser"].ToString().Substring(2)</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<form class="news-form" action="/Account/EditAccount" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <label>UserName:</label>
        <input type="text" disabled="disabled" value="@Session["LoginUser"].ToString().Substring(2)"/><br />
        <label>Name:</label>
        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Account Name"})
        @Html.ValidationMessageFor(model => model.Name)<br />
        <label>Email:</label>
        @Html.TextBoxFor(model => model.Email, new { @placeholder = "E-mail" })
        @Html.ValidationMessageFor(model => model.Email)<br />
        <input type="submit" value="Edit"/>

    </fieldset>
</form>
<a class="account-btt" href="/Account/">Back</a>