@{
    ViewBag.Title = "Index";
}
@model TestLibrary.Models.Person
<h2>Welcome! @Model.Identify()</h2>
<p class="noti-msg">@TempData["Notification"]</p>
<p class="account-detail"><u><b>Your profile</u><br />
User ID:</b>@Html.DisplayFor(model => model.UserID)<br />
<b>User name:</b>@Html.DisplayFor(model => model.UserName)<br />
<b>Name:</b>@Html.DisplayFor(model => model.Name)<br />
<b>Email:</b>@Html.DisplayFor(model => model.Email)<br />
<b>Password:</b>********
</p>
<center>
    @if (Session["LoginUser"].ToString().Substring(0,2) == "M_")
    {
        <a class="account-btt" href="/MemberTransaction/">Member trans-service</a>
    }
    
    <a class="account-btt" href="/Account/EditAccount">Edit Account</a>
    <a class="account-btt" href="/Account/ChangePassword">Change password</a>
    <a class="account-btt" href="/Authenticate/Logout">Sign out</a>
</center>