@{
    ViewBag.Title = "Book detail";
}
@model ParatabLib.Models.Book
<h2>View book</h2>

@if (Model != null) {
    if (Session["LoginUser"] != null)
    {
        if (Session["LoginUser"].ToString().Substring(0, 2) == "A_")
        {<span class="act-link">
            <a class="norm" href="/BookManager/EditBook/@Model.BookID">แก้ไข</a> |
            <a class="norm" href="/BookManager/DeleteBook/@Model.BookID">ลบ</a>
         </span>
            }
            }
            <p class="book-detail"><b>BookID</b></p>
            <p class="book-detail">@Model.BookID</p>
            <p class="book-detail"><b>Call Number</b></p>
            <p class="book-detail">@Model.CallNumber</p>
            <p class="book-detail"><b>Book name</b></p>
            <p class="book-detail">@Model.BookName</p>
            <p class="book-detail"><b>Author</b></p>
            <p class="book-detail">@Model.Author</p>
            <p class="book-detail"><b>Publisher</b></p>
            <p class="book-detail">@Model.Publisher</p>
            <p class="book-detail"><b>Year</b></p>
            <p class="book-detail">@Model.Year</p>
            <p class="book-detail"><b>Detail</b></p>
            <p class="book-detail">@Model.Detail</p>
            }
            else
            {
            <div class="noti-red">
                No book were found in database.
            </div>
            }
