@{
    ViewBag.Title = "Book detail";
}
@model ParatabLib.Models.Book
<h2>View book</h2>

@if (Model != null) {
    if (Session["LoginUser"] != null)
    {
        if (Session["LoginUser"].ToString().Substring(0, 2) == "A_")
        {<span class="act-link">
            <a class="norm" href="/BookManager/EditBook/@Model.BookID">แก้ไข</a> |
            <a class="norm" href="/BookManager/DeleteBook/@Model.BookID">ลบ</a>
         </span>
            }
            }
            <div class="book-detail">
                <b>BookID:</b>@Model.BookID<br />
                <b>Call Number:</b>@Model.CallNumber<br />
                <b>Book name:</b>@Model.BookName<br />
                <b>Author:</b>@Model.Author<br />
                <b>Publisher:</b>@Model.Publisher<br />
                <b>Year:</b>@Model.Year<br />
                <b>Detail:</b>@Model.Detail<br />
            </div>
            }
            else
            {
            <div class="noti-red">
                No book were found in database.
            </div>
            }
