@{
    ViewBag.Title = "Register";
}
@model ParatabLib.ViewModels.RegisterEditor
<h2>Register</h2>
<form class="account-form" action="/Authenticate/Register" method="post">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorNoti"] != null)
    {
        <div class="noti-red">
            <img class="close-btt" src="~/Content/close-btt.png" />
            @TempData["ErrorNoti"]
        </div>
    }
    <fieldset>
        <legend>Register</legend>
        @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Username" })
        @Html.ValidationMessageFor(model => model.UserName)
        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name" })
        @Html.ValidationMessageFor(model => model.Name)
        @Html.TextBoxFor(model => model.Email, new { @placeholder = "E-mail" })
        @Html.ValidationMessageFor(model => model.Email)
        @Html.PasswordFor(model => model.Password, new { @placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Confirm pwd" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        <input type="submit" value="Register" />
    </fieldset>
</form>
