@model TestLibrary.ViewModels.PageList<TestLibrary.Models.BorrowEntry>
@{
    ViewBag.Title = "Librarian transaction manager";
    int count;
    
}
<h1>Librarian transaction manager</h1>
<p class="noti-msg">@TempData["Notification"]</p>
<ul class="admin-panel">
    <li><a href="/LibrarianTransaction/Transaction">Do Transaction</a></li>
</ul><br />
<h2>Borrow tracking</h2>
@if (Model != null){
    count = (Model.GetCurrentPage() - 1) * int.Parse(TempData["pageSize"].ToString());
    <table class="list">
    <tr>
        <th>No.</th>
        <th>Book name</th>
        <th>Borrower</th>
        <th>Due date</th>
        <th>Return date</th>
    </tr>
    @foreach (var record in Model.GetList())
    {
        <tr>
            <td>
            @(++count)
            </td>
            <td>
                @record.BorrowBook.BookName
            </td>
            <td>
                @record.Borrower.UserName
            </td>
            <td>
                @record.DueDate.ToShortDateString()
            </td>
            <td>
                @if (record.ReturnDate != null) { 
                @record.ReturnDate.Value.ToShortDateString()
                }
                else
                {
                @Html.DisplayFor(model => model.GetList().Where(target => target.ID == record.ID).Single().ReturnDate)
                }
            </td>
        </tr>
        
    }
    <caption><b>Page @Model.GetCurrentPage() of @Model.GetPageSize()</b></caption>
</table>
    
    <form class="page-portal" action="/LibrarianTransaction/Index/" method="post">
    <label>Jump to page:</label>
    <select class="autosubmit" name="page" size="1">
        @for (int j = 1; j <= Model.GetPageSize(); j++)
        {
            <option value="@j" selected="@((int.Parse(TempData["page"].ToString()) == j)? "selected":null)">@j</option>
        }
    </select>
    <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
</form>

    <form class="page-portal" action="/LibrarianTransaction/Index/" method="post">
        <label>List per page:</label>
        <select class="autosubmit" name="pageSize" size="1">
            <option value="10" selected="@((int.Parse(TempData["pageSize"].ToString()) == 10)? "selected":null)">10</option>
            <option value="20" selected="@((int.Parse(TempData["pageSize"].ToString()) == 20) ? "selected" : null)">20</option>
            <option value="50" selected="@((int.Parse(TempData["pageSize"].ToString()) == 50) ? "selected" : null)">50</option>
            <option value="100" selected="@((int.Parse(TempData["pageSize"].ToString()) == 100) ? "selected" : null)">100</option>
        </select>
    </form>
}
<a class="account-btt" href="/Account/LibrarianPortal">Portal</a>