@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/_Style.css" type="text/css" />
    <script src="~/Script/jquery-1.11.1.js"></script>
    <script src="~/Script/jquery-ui.js"></script>
    <script>
        function resizewindow() {
            if (window.innerWidth < 800) {

                $("div.reg-login-linkzone").css("margin", "0px 5px 0px 5px");
                $("div#header").css("margin", "4px 0px 0px 5px");
                $("div#menubar").css("margin", "5px 0px 0px 0px");
                $("div#quicksearch").css("margin", "2px 5px 0px 0px");
                $("div#content").css("margin", "70px 0px 0px 0px");
                $("ul.menulist").hide();
                $("img.menu-btt").show();
            }
            else {
                $("div.reg-login-linkzone").css("margin", "0px 15% 0px 15%");
                $("div#header").css("margin", "4px 15% 0px 15%");
                $("div#menubar").css("margin", "10px 15% 0px 15%");
                $("div#quicksearch").css("margin", "2px 15% 0px 15%");
                $("div#content").css("margin", "70px 15% 0px 15%");
                $("img.menu-btt,div.menu-slider").hide();
                $("ul.menulist").show();
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            resizewindow();
            $("img.back-to-top-btt,div.menu-slider").hide();
            $(window).resize(resizewindow);
            $("img.menu-btt").click(function () {
                $("div.menu-slider").slideToggle("300");
            });
            $("img.delete-btt").mouseover(function () {
                $(this).attr("src", "/Content/delete-black-btt.png");
            });
            $("img.delete-btt").mouseout(function () {
                $(this).attr("src", "/Content/delete-gray-btt.png");
            });
            $("img.edit-btt").mouseover(function () {
                $(this).attr("src", "/Content/edit-black-btt.png");
            });
            $("img.edit-btt").mouseout(function () {
                $(this).attr("src", "/Content/edit-gray-btt.png");
            });
            $("img.view-btt").mouseover(function () {
                $(this).attr("src", "/Content/view-black-btt.png");
            });
            $("img.view-btt").mouseout(function(){
                $(this).attr("src", "/Content/view-gray-btt.png");
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 30)
                    $("img.back-to-top-btt").fadeIn();
                else
                    $("img.back-to-top-btt").fadeOut();
            });
            $("img.back-to-top-btt").click(function () {
                $("html").animate({ scrollTop: 0 }, "500", "easeOutExpo");
            });

        });
       
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<a id="top"></a><div id="nav">
        <div class="reg-login-linkzone">
            @if(Session["LoginUser"] != null)
            {
                if (Session["LoginUser"].ToString().Substring(0, 2) == "M_") { 
                <text>Welcome! </text><a href="/Account/">@Session["LoginUser"].ToString().Substring(2)</a><br />
            <a href="/Account/">My account</a><text>|</text>
            }
                else
                {
                 <text>Welcome! </text><a href="/Account/">@Session["LoginUser"].ToString().Substring(2)</a><br />
            <a href="/Manage/">Manage</a><text>|</text>
                }
                <a href="/Authenticate/Logout">Sign out</a>
            }
            else
            {
                <a href="/Authenticate/Register">Register</a><text>|</text><a href="/Authenticate/Login">Login</a>
            }


    </div>
    <div id="header">
        <a class="paratab" href="~/"><img class="paratab" src="~/Content/paratabplus.png" /></a>
</div>
    <div id="quicksearch">
        <form class="search-bar" action="/BookSearch/QuickSearch" method="post">
            @Html.AntiForgeryToken()
            <input type="text" placeholder="Quick search" name="BookName" value="@ViewBag.quicksearchkey">
            <input type="submit" value="Search" />
        </form>

    </div>
        <div id="menubar">
            <img class="menu-btt" src="/Content/menu.png"/>
            <div class="menu-slider">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/BookSearch/">Search</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                    <li class="last-menu"><a href="/Home/ChangeLog">Change log</a></li>
                </ul>
            </div>
            <ul class="menulist">
                <li><a href="~/">Home</a></li>
                <li><a href="/BookSearch/">Search</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="/Home/ChangeLog">Ch.Log</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
       
        @RenderBody()
    </div>
    <a href="#top"><img class="back-to-top-btt" src="~/Content/upArrow.png" /></a>
    <footer>&copy;@DateTime.Now.Year <a class="paratab" href="~/">ParatabPlusSite</a> ห้ามเกรียนคนใดคัดลอกเว็บไซต์นี้เด็ดขาด</footer>
</body>
</html>
