@{
    ViewBag.Title = "Cancel request";
}
@model ParatabLib.Models.RequestEntry
<h2>Cancel request</h2>
<form class="account-form" action="/MemberTransaction/CancelRequest" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>
            Cancel Req.
        </legend>Do you want to cancel this book request?<br />[
        @Html.DisplayFor(model => model.GetRequestBook().BookName)]
        @Html.HiddenFor(model => model.BookID)
        @Html.HiddenFor(model => model.RequestDate)
        @Html.HiddenFor(model => model.ExpireDate)
        <input type="submit" value="Yes" name="answer" />
        <a class=" account-btt account-btt-in-form" href="/MemberTransaction/">Back</a>
    </fieldset>
</form>
