@{
    ViewBag.Title = "Delete member";
}
@model TestLibrary.Models.Member
<form class="account-form" action="/MemberListManager/Delete" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Delete member</legend>
        Are you sure want to delete this member?[@Html.DisplayFor(model => model.UserName)]
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Password)
        <input type="submit" value="Yes" name="answer" />
        <input type="submit" value="No" name="answer" />
    </fieldset>
</form>