@{
    ViewBag.Title = "Delete news";
}
@model ParatabLib.Models.News
<h2>DeleteNews</h2>
<form class="account-form" action="/NewsManager/DeleteNews" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Delete news</legend>
        Are you sure want to delete this news "@Html.DisplayFor(model => model.Title)"?
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Detail)
        @Html.HiddenFor(model => model.PostTime)
        @Html.HiddenFor(model => model.NewsID)
        <input type="submit" value="Yes" name="answer"/>
        <input type="submit" value="No" name="answer" />
    </fieldset>
</form>
