@{
    ViewBag.Title = "Add book";
}
@model ParatabLib.Models.Book
<h2>AddBook</h2>
<form class="account-form" action="/BookManager/AddBook" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add new book</legend>
        @Html.TextBoxFor(model => model.BookName, new { @placeholder = "Book name" })
        @Html.ValidationMessageFor(model => model.BookName)
        @Html.TextBoxFor(model => model.Author, new { @placeholder = "Author" })
        @Html.TextBoxFor(model => model.Publisher, new { @placeholder = "Publisher" })
        @Html.TextBoxFor(model => model.Year, new { @placeholder = "Year" })
        @Html.ValidationMessageFor(model => model.Year)
        @Html.TextAreaFor(model => model.Detail, new { @placeholder = "Detail" })
        <input type="submit" value="Add book" />
       </fieldset>
</form>