@{
    ViewBag.Title = "Edit book";
}
@model ParatabLib.Models.Book
<h2>Edit book</h2>
<form class="account-form" action="/BookManager/EditBook/" method="post">
    @Html.AntiForgeryToken()
    @if (TempData["ErrorNoti"] != null)
    {
        <div class="noti-red">
            <img class="close-btt" src="~/Content/close-btt.png" />
            @TempData["ErrorNoti"]
        </div>
    }
    <fieldset>
        <legend>Edit book</legend>
        @Html.HiddenFor(model => model.BookID)
        <label>Book Status:</label>
        @if (Model.BookStatus.ToString() != "Borrowed" && Model.BookStatus.ToString() != "Reserved") { 
        <select name="BookStatus">
            <option value="">Select...</option>
            <option value="0" selected="@((Model.BookStatus.ToString()=="Available")?"selected":null)">Available</option>
            <option value="3" selected="@((Model.BookStatus.ToString() == "Lost") ? "selected" : null)">Lost</option>
        </select>
        }
        else
        {
            @Model.BookStatus.ToString()
            <input type="hidden" name="BookStatus" value="@(Model.BookStatus.ToString()=="Borrowed"?1:2)"/>
        }
        @Html.TextBoxFor(model => model.BookName, new { @placeholder = "Book name" })
        @Html.ValidationMessageFor(model => model.BookName)
        @Html.TextBoxFor(model => model.CallNumber, new { @placeholder = "Call No." })
        @Html.ValidationMessageFor(model => model.CallNumber)
        @Html.TextBoxFor(model => model.Author, new { @placeholder = "Author" })
        @Html.TextBoxFor(model => model.Publisher, new { @placeholder = "Publisher" })
        @Html.TextBoxFor(model => model.Year, new { @placeholder = "Year" })
        @Html.ValidationMessageFor(model => model.Year)
        @Html.TextAreaFor(model => model.Detail, new { @placeholder = "Detail" })
        <input type="submit" value="Edit book" />
        <a class=" account-btt account-btt-in-form" href="/BookManager/">Back</a>
    </fieldset>
</form>
