@{
    ViewBag.Title = "Book manager";
}
@model  ParatabLib.ViewModels.PageList<ParatabLib.Models.Book>

<h2>Book manager</h2>
@if (TempData["ErrorNoti"] != null)
{
    <div class="noti-red">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["ErrorNoti"]
    </div>
}
else if (TempData["SuccessNoti"] != null)
{
    <div class="noti-green">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["SuccessNoti"]
    </div>
}
<a class="account-btt" href="/BookManager/AddBook">Add book</a>

@if (Model != null) { 
<table class="list">
    <tr>
        <th>ID</th>
        <th>Call No.</th>
        <th>Book name</th>
        <th>Author</th>
        <th></th><th></th><th></th>
    </tr>
    @foreach (var item in Model.GetList())
    {
        <tr>
            <th>@item.BookID</th>
            <td class="callno">@item.CallNumber</td>
            <td class="res-col">@item.BookName</td>
            <td class="res-col">@item.Author</td>
            <td><a href="/Book/View/@item.BookID" target="_blank"><img class="view-btt" src="/Content/view-gray-btt.png" /></a></td>
            <td><a href="/BookManager/EditBook/@item.BookID"><img class="edit-btt" src="/Content/edit-gray-btt.png" /></a></td>
            <td><a href="/BookManager/DeleteBook/@item.BookID"><img class="delete-btt" src="/Content/delete-gray-btt.png" /></a></td>
        </tr>
    }
    <caption>
        @if (Model.GetCurrentPage() != 1)
        {
            <form action="/BookManager/Index/" method="post" style="display:inline">
                <img class="nav-btt" src="~/Content/prev-btt.png" alt="previous" />
                @Html.AntiForgeryToken()
                <input type="hidden" value="@(Model.GetCurrentPage()-1)" name="page" />
                <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
            </form>
        }
        <b>Page @Model.GetCurrentPage() of @Model.GetPageSize()</b>
        @if (Model.GetCurrentPage() != Model.GetPageSize())
        {
            <form action="/BookManager/Index/" method="post" style="display:inline">
                <img class="nav-btt" src="~/Content/next-btt.png" alt="next" />
                @Html.AntiForgeryToken()
                <input type="hidden" value="@(Model.GetCurrentPage()+1)" name="page" />
                <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
            </form>
        }
    </caption>
</table>

           <form class="page-portal" action="/BookManager/Index/" method="post">
               <label>Jump to page:</label>
               <select class="autosubmit" name="page" size="1">
                   @for (int j = 1; j <= Model.GetPageSize(); j++)
                   {
                       <option value="@j" selected="@((int.Parse(TempData["page"].ToString()) == j)? "selected":null)">@j</option>
                   }
               </select>
                   <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
               </form>
      
            <form class="page-portal" action="/BookManager/Index/" method="post">
                <label>List per page:</label>
                <select class="autosubmit" name="pageSize" size="1">
                    <option value="10" selected="@((int.Parse(TempData["pageSize"].ToString()) == 10)? "selected":null)">10</option>
                    <option value="20" selected="@((int.Parse(TempData["pageSize"].ToString()) == 20) ? "selected" : null)">20</option>
                    <option value="50" selected="@((int.Parse(TempData["pageSize"].ToString()) == 50) ? "selected" : null)">50</option>
                    <option value="100" selected="@((int.Parse(TempData["pageSize"].ToString()) == 100) ? "selected" : null)">100</option>
                </select>
            </form>
}
<a class="account-btt" href="/Account/LibrarianPortal">Back</a>