@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @System.Web.Optimization.Scripts.Render("~/Bundles")
    @System.Web.Optimization.Styles.Render("~/StyleBundles")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<a id="top"></a><div id="nav">
       
    <div id="header">
        <a class="paratab" href="~/"><img class="paratab" src="~/Content/paratabplus.png" /></a>
        <div class="reg-login-linkzone">
            @if (Session["LoginUser"] != null)
            {
                if (Session["LoginUser"].ToString().Substring(0, 2) == "M_")
                {
                    <text>Welcome! </text><a href="/Account/">@Session["LoginUser"].ToString().Substring(2)</a><br />
                    <a href="/Account/">My account</a><text>|</text>
                }
                else
                {
                    <text>Welcome! </text><a href="/Account/">@Session["LoginUser"].ToString().Substring(2)</a><br />
                    <a href="/Account/LibrarianPortal">Librarian portal</a><text>|</text>
                }
                <a href="/Authenticate/Logout">Sign out</a>
            }
            else
            {
                <a href="/Authenticate/Register">Register</a><text>|</text><a href="/Authenticate/Login">Login</a>
            }
        </div>
</div>
        <div id="menubar">
            <div id="quicksearch">
                <form class="search-bar" action="/BookSearch/QuickSearch" method="post">
                    <input type="text" placeholder="Quick search" name="BookName" value="@TempData["quicksearchkey"]">
                    <input type="submit" value="Search" />
                </form>

            </div>
            <div class="menu-slider">
            </div>
            <ul class="menulist">
                <li><a href="~/">Home</a></li>
                <li><a href="/BookSearch/">Search</a></li>
                <li><a href="/Home/TopTen">Top 10</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="/Home/ChangeLog">Ch.Log</a></li>
                <li><a href="/Home/LibraryApi">API</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
       <noscript><div class="noti-yellow">Please enable javascript for better experience.</div></noscript>
        @RenderBody()
    </div>
    <a href="#top"><img class="back-to-top-btt" src="~/Content/upArrow.png" /></a>
    <footer>&copy;@DateTime.Now.Year <a class="paratab" href="~/">ParatabPlusSite</a> ห้ามเกรียนคนใดคัดลอกเว็บไซต์นี้เด็ดขาด</footer>
</body>
</html>
