@{
    ViewBag.Title = "Delete librarian";
}
@model ParatabLib.Models.Librarian
<form class="account-form" action="/LibrarianListManager/Delete" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Delete librarian</legend>
        Are you sure want to delete this librarian?[@Html.DisplayFor(model => model.UserName)]
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Password)
        <input type="submit" value="Delete" name="answer" />
        <a class=" account-btt account-btt-in-form" href="/LibrarianListManager/">Back</a>
    </fieldset>
</form>
