@{
    ViewBag.Title = "View librarian";
}
@model TestLibrary.Models.Librarian
<h2>Detail of @Model.Identify()</h2>
<p class="account-detail">
    <b>UserID:</b>@Model.UserID<br />
    <b>Username:</b>@Model.UserName<br />
    <b>Name:</b>@Model.Name<br />
    <b>Email:</b>@Html.DisplayTextFor(model => model.Email)
</p>
<a class="account-btt" href="/LibrarianListManager/">Back</a>
