@{
    ViewBag.Title = "Account manager";
}
@model ParatabLib.Models.Person
<h2>Welcome! @Model.Identify()</h2>
@if (TempData["ErrorNoti"] != null)
{
    <div class="noti-red">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["ErrorNoti"]
    </div>
}
else if (TempData["SuccessNoti"] != null)
{
    <div class="noti-green">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["SuccessNoti"]
    </div>
}
@if (TempData["WarnNoti"] != null && Model.Identify().StartsWith("Member"))
{
    <div class="noti-yellow">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["WarnNoti"] <a class="norm" href="/MemberTransaction/">here</a>.
    </div>
}
@if (Model.Identify().StartsWith("Member")) { 
<div class="acc-mem-detail">
    <u><b>Your profile</b></u><br />
    <b>User ID:</b>@Html.DisplayFor(model => model.UserID)<br />
    <b>User name:</b>@Html.DisplayFor(model => model.UserName)<br />
    <b>Name:</b>@Html.DisplayFor(model => model.Name)<br />
    <b>Email:</b>@Html.DisplayTextFor(model => model.Email)<br />
    <b>Password:</b>    ********
</div>
}
else{
    <div class="acc-lib-detail">
        <u><b>Your profile</b></u><br />
        <b>User ID:</b>@Html.DisplayFor(model => model.UserID)<br />
        <b>User name:</b>@Html.DisplayFor(model => model.UserName)<br />
        <b>Name:</b>@Html.DisplayFor(model => model.Name)<br />
        <b>Email:</b>@Html.DisplayTextFor(model => model.Email)<br />
        <b>Password:</b>********
</div>
}
@if (Session["LoginUser"].ToString().Substring(0,2) == "M_")
    {
    <a class="account-btt" href="/MemberTransaction/">Member trans-service</a>
    }
    else
    {
    <a class="account-btt" href="/Account/LibrarianPortal">Portal</a>
    }
<a class="account-btt" href="/Account/EditAccount">Edit Account</a>
<a class="account-btt" href="/Account/ChangePassword">Change password</a>
<a class="account-btt" href="/Authenticate/Logout">Sign out</a>
