@{
    ViewBag.Title = "All news";
}
@model TestLibrary.ViewModels.PageList<TestLibrary.Models.News>
<h1>All news</h1>
<p class="noti-msg">@TempData["Notification"]</p>
@if(Model != null) { 
<center>
    <table class="news-list">
    @foreach (var news in Model.GetList())
    {
        <tr>
            <td><b>@news.PostTime.ToShortDateString()</b></td>
            <td>@news.Title</td>
            <td><a href="/News/View/@news.NewsID">อ่านต่อ</a></td>
        </tr>
    }
    <caption><b>Page @Model.GetCurrentPage() of @Model.GetPageSize()</b></caption>
    </table>
    <form class="page-portal" action="/News/ViewAll/" method="post">
        <label>Jump to page:</label>
        <select class="autosubmit" name="page" size="1">
            @for (int j = 1; j <= Model.GetPageSize(); j++)
            {
                <option value="@j" selected="@((int.Parse(TempData["page"].ToString()) == j)? "selected":null)">@j</option>
            }
        </select>
        <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
    </form>

    <form class="page-portal" action="/News/ViewAll/" method="post">
        <label>List per page:</label>
        <select class="autosubmit" name="pageSize" size="1">
            <option value="10" selected="@((int.Parse(TempData["pageSize"].ToString()) == 10)? "selected":null)">10</option>
            <option value="20" selected="@((int.Parse(TempData["pageSize"].ToString()) == 20) ? "selected" : null)">20</option>
            <option value="50" selected="@((int.Parse(TempData["pageSize"].ToString()) == 50) ? "selected" : null)">50</option>
            <option value="100" selected="@((int.Parse(TempData["pageSize"].ToString()) == 100) ? "selected" : null)">100</option>
        </select>
    </form>
    </center>
}

<script type="text/javascript">
    $("select.autosubmit").change(function () {
        $(this).parent().submit();
    });
</script>