@model List<TestLibrary.Models.BorrowEntry>
@{
    ViewBag.Title = "Admin transaction manager";
    int count = 0;
}
<h1>Admin transaction manager</h1>
<ul class="admin-panel">
    <li><a href="/AdminTransaction/Borrow">Do Transaction</a></li>
</ul><br />
<h2>Borrow tracking</h2>
<table class="list">
    <tr>
        <th>No.</th>
        <th>Book name</th>
        <th>Borrower</th>
        <th>Due date</th>
        <th>Return date</th>
    </tr>
    @foreach (var record in Model)
    {
        <tr>
            <td>
            @(++count)
            </td>
            <td>
                @record.BorrowBook.BookName
            </td>
            <td>
                @record.Borrower.UserName
            </td>
            <td>
                @record.DueDate.ToShortDateString()
            </td>
            <td>
                @if (record.ReturnDate != null) { 
                @record.ReturnDate.Value.ToShortDateString()
                }
                else
                {
                @Html.DisplayFor(model => model.Where(target => target.ID == record.ID).Single().ReturnDate)
                }
            </td>
        </tr>
        
    }
</table>
<a class="account-btt" href="/Account/AdminPortal">Portal</a>