@model ParatabLib.ViewModels.PageList<ParatabLib.Models.BorrowEntry>
@{
    ViewBag.Title = "Librarian transaction manager";
    int count;
    
}
<h1>Librarian transaction manager</h1>
@if (TempData["ErrorNoti"] != null)
{
    <div class="noti-red">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["ErrorNoti"]
    </div>
}
    <a class="account-btt" href="/LibrarianTransaction/Transaction">Do Transaction</a>
@if (Model != null)
{
    <h2>Borrow tracking</h2>
    count = (Model.GetCurrentPage() - 1) * int.Parse(TempData["pageSize"].ToString());
    <table class="list">
    <tr>
        <th>No.</th>
        <th>Book name</th>
        <th>Borrower</th>
        <th>Due date</th>
        <th>Return date</th>
    </tr>
    @foreach (var record in Model.GetList())
    {
        <tr>
            <th>
            @(++count)
            </th>
            <td>
                @record.GetBorrowBook().BookName
            </td>
            <td>
                @record.GetBorrower().UserName
            </td>
            <td>
                @record.DueDate.ToShortDateString()
            </td>
            <td>
                @if (record.ReturnDate != null) { 
                @record.ReturnDate.Value.ToShortDateString()
                }
                else
                {
                @Html.DisplayFor(model => model.GetList().Where(target => target.ID == record.ID).Single().ReturnDate)
                }
            </td>
        </tr>
        
    }
    <caption>
        @if (Model.GetCurrentPage() != 1)
        {
            <form action="/LibrarianTransaction/Index/" method="post" style="display:inline">
                <img class="nav-btt" src="~/Content/prev-btt.png" alt="previous" />
                @Html.AntiForgeryToken()
                <input type="hidden" value="@(Model.GetCurrentPage()-1)" name="page" />
                <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
            </form>
        }
        <b>Page @Model.GetCurrentPage() of @Model.GetPageSize()</b>
        @if (Model.GetCurrentPage() != Model.GetPageSize())
        {
            <form action="/LibrarianTransaction/Index/" method="post" style="display:inline">
                <img class="nav-btt" src="~/Content/next-btt.png" alt="next" />
                @Html.AntiForgeryToken()
                <input type="hidden" value="@(Model.GetCurrentPage()+1)" name="page" />
                <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
            </form>
        }
    </caption>
</table>
    
    <form class="page-portal" action="/LibrarianTransaction/Index/" method="post">
    <label>Jump to page:</label>
    <select class="autosubmit" name="page" size="1">
        @for (int j = 1; j <= Model.GetPageSize(); j++)
        {
            <option value="@j" selected="@((int.Parse(TempData["page"].ToString()) == j)? "selected":null)">@j</option>
        }
    </select>
    <input type="hidden" value="@TempData["pageSize"]" name="pageSize" />
</form>

    <form class="page-portal" action="/LibrarianTransaction/Index/" method="post">
        <label>List per page:</label>
        <select class="autosubmit" name="pageSize" size="1">
            <option value="10" selected="@((int.Parse(TempData["pageSize"].ToString()) == 10)? "selected":null)">10</option>
            <option value="20" selected="@((int.Parse(TempData["pageSize"].ToString()) == 20) ? "selected" : null)">20</option>
            <option value="50" selected="@((int.Parse(TempData["pageSize"].ToString()) == 50) ? "selected" : null)">50</option>
            <option value="100" selected="@((int.Parse(TempData["pageSize"].ToString()) == 100) ? "selected" : null)">100</option>
        </select>
    </form>
}
<a class="account-btt" href="/Account/LibrarianPortal">Portal</a>