@{
    ViewBag.Title = "BR-Transaction";
}
@model ParatabLib.ViewModels.MemberTransactionViewer
<h2>Borrow transaction</h2>
@if (TempData["ErrorNoti"] != null)
{
    <div class="noti-red">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["ErrorNoti"]
    </div>
}
else if (TempData["SuccessNoti"] != null)
{
<div class="noti-green">
    <img class="close-btt" src="~/Content/close-btt.png" />
    @TempData["SuccessNoti"]
</div>
}
else if (TempData["WarnNoti"] != null)
{
    <div class="noti-yellow">
        <img class="close-btt" src="~/Content/close-btt.png" />
        @TempData["WarnNoti"]
    </div>
}
<form class="news-form" action="/LibrarianTransaction/Transaction" method="post">
    @Html.AntiForgeryToken()
    <label>MemberID</label><br />
    <input type="text" placeholder="MemberID" name="UserID" value="@TempData["UserID"]"/>
    <input type="submit" value="Check" name="operation" />
    <br />
    <label>BookID</label><br />
    <input type="text" placeholder="BookID" name="BookID" value="@TempData["BookID"]"/><br />
    <input type="submit" value="Submit" name="operation" />
</form>

@if (Model != null) { 
<h2 style="text-decoration:none">[Member : @(Model.Name)]</h2>
<h2>Current borrow list</h2>
   if (Model.GetBorrowEntryViews().Count != 0) { 
<table class="res-list">
    <tr>
        <th>
            ID
        </th>
        <th>
            Book name
        </th>
        <th>
            Due date
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.GetBorrowEntryViews())
    {
        <tr>
            <th>@item.BookID</th>
            <td class="res-col">@item.GetBorrowBook().BookName</td>
            <td class="res-col">@item.DueDate.ToShortDateString()</td>
            <td class="center-col">
            <form action="/LibrarianTransaction/Transaction" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Return" name="Operation"/>
                <input type="hidden" name="ID" value="@item.ID" />
                <input type="hidden" name="UserID" value="@item.UserID" />
                </form>
            </td>
        </tr>
    }
</table>
   }
   else
   {
    <div class="noti-red">
        No book that this member borrowed now.
    </div>
   }

<h2>Current request list</h2>
    if (Model.GetRequestEntryViews().Count != 0)
    {
        <table class="list">
    <tr>
        <th>
            ID
        </th>
        <th>
            Book name
        </th>
        <th>
            Status
        </th>
        <th>
            Expire date
        </th>
    </tr>
    @foreach (var item in Model.GetRequestEntryViews())
    {
        <tr>
            <th>@item.BookID</th>
            <td class="res-col">@item.GetRequestBook().BookName</td>
            
            @if(item.ExpireDate != null){
                <td>
                    Avail.
                </td>
                <td>
                   @item.ExpireDate.Value.ToShortDateString()
                </td>
                
            }
            else
            {
                <td>
                    Not Avail.
                </td>
                <td>
                @item.ExpireDate
                </td>
            }
        </tr>
    }
</table>
    }
    else
    {
        <div class="noti-red">
            No book that this member requested now.
        </div>
    }
}
<a class="account-btt" href="/LibrarianTransaction/">Back</a>